/* 
    filename: lewis 
    author: lewis 
    created: 15/03/2019 
    last modified: 25/03/2019 
    description: about, apply, index, jobs, enhancements 
    green colour is rgb(100,255,0); or #64FF00;
 */
 html,body {
    font:400 15px Montserrat,sans-serif;
    background-color:#f5f5f5;
    scroll-behavior: smooth;
}
    
.container-fluid {
    padding:60px 50px;
}

.navbar-fixed-top {
    background-color:#fff;
    opacity:.8;
    letter-spacing:4px;
    color:#000;
    padding:0 15px;
}

.navbar-fixed-top li a {
    color:#000;
}

.navbar-fixed-top a {
    float:left;
    text-align:center;
    text-decoration:none;
}

.navbar-fixed-top ul li a:hover,.navbar-fixed-top ul li.active a {
    color:#fff;
    background-color:#008b8b;
}

.navbar-logo {
    height:50px;
}

a.active {
    color:#fff;
    background-color:#008b8b;
}

button:hover,.button:hover {
    text-decoration:none;
    color:#fff;
    background-color:#808080;
}

button,.button {
    background-color:#008b8b;
    color:#fff;
    padding:10px 50px;
    text-decoration:none;
}

.bg-grey {
    background-color:#ddd;
}

section {
    margin-bottom: 1em;
}

.jumbotron {
    width:100%;
    height:100%;
    padding-bottom:200px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-image:url(images/hero-image.png);
}

.jumbotron h2 {
    color:#fff;
    padding-top:240px;
    text-align:center;
    font:700 60px Arial,sans-serif;
}

.jumbotron p {
    color:#fff;
    padding-top:5px;
    text-align:center;
    font-size:30px;
}

.glyphicon-globe,.glyphicon-download-alt,.glyphicon-eye-open,.glyphicon-briefcase {
    color:#008b8b;
    font-size:40px;
}

.container-fluid .h2 .h4 {
    padding-bottom:5px;
}

.glyphicon-map-marker {
    font-size:14px;
    color:#000;
}

footer {
    background-color:#008b8b;
    width:100%;
    text-align:center;
    height:150px;
    clear:both;
}

footer .glyphicon {
    font-size:30px;
    margin-top:.5em;
    margin-bottom:20px;
    color:#fff;
    background-color:#000;
    border-radius:50%;
    padding:2px;
}

footer .glyphicon:hover {
    background-color:#fff;
    color:#008b8b;
}

.footer p {
    background-color:#808080;
}

h1 {
    margin:.5em auto;
    font: normal 2em arial;
}

h2 {
    font-size:1.8em;
    padding-left:.5em;
}

table {
    max-width:80%;
    margin:0 auto;
    border:#FFF;
    border-radius:5px;
}

table th {
    background-color:#2e2a2a;
    height:20%;
    width:2%;
    padding:2%;
    color:#fff;
    border:2px solid #000;
    text-align:center;
    font-weight:700;
}

table td {
    align-content:center;
    text-align:center;
    background-color:#d3d3d3;
    color:#202020;
    width:1%;
    padding:1%;
    border:2px solid #000;
}

figure img {
    width:50%;
    height:auto;
    float:left;
    margin-right:0;
    border:4px solid #008b8b;
}

dl {
    width:100%;
    overflow:hidden;
    float:right;
}

dt {
    float:left;
    width:35%;
    padding-right:1em;
    text-align:right;
}

dd {
    float:right;
    width:65%;
}

form {
    width:50%;
    margin:3em auto;
}

fieldset {
    border:0;
}

form label:not(#other_text_label) {
    margin-left:15px;
    width:20%;
    font:13px Arial;
}

form h1 {
    text-decoration:none;
    margin-left:15px;
}
form .error {
    color: #ff0000;
    font-weight: bold;
}

input[type=text],input[type=date],select,textarea {
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
    background-color:#fff;
    color:#000;
    margin-left:10px;
}

input[type=radio] {
    margin-left:5%;
}

.job_ad {
    padding-top:50px;
}

aside {
    width: 25%;
    float: right;
    margin-top:50px;
    border: 2px solid #008b8b;
    border-radius: 5px;
    padding-bottom: 30px;
}

.container {
    padding-top:40px;
}

.page-container {
    position:relative;
    min-height:100vh;
}

.content-wrap {
    padding-bottom:2.5rem;
    min-height:100%;
}

/* Return to top Button */
#back_to_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 #00000033,0 6px 20px 0 #00000030;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #008b8b;
    color: #fff;
    text-align: center;
  }
  
  .modal-body {
      padding: 1em;
      text-align: center;
      color: #008b8b;
      background-color: #ccc;
    }
  
  .modal-footer {
    padding: 1em;
    background-color: #008b8b;
  }

@media screen and (max-width:480px) {
    .navbar-fixed-top a {
        float:none;
        display:block;
        text-align:left;
    }

    .navbar-right {
        float:none;
    }
}